/*  your css code here. If applicable */
main{
	background-color : #f5f5f5;
	padding : 10px;
}
#line1{
	color: none;
	background-color : white;
	padding : 10px;
}
#line2{
	color: none;
	background-color : white;
	padding : 10px;
}
.author{
	text-align : right;
	font-style : italic;
}